@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    text-decoration: none;
    background-color: #000;
    color: #ffffff;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "BBH Bartle", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 12rem 5rem;
    border-radius: 15px;
}

label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0.6rem;
}

input {
    padding: 0.5rem;
    border-radius: 5px;
}